<p style="color: green"><%= notice %></p>

<h2>予定一覧</h2>

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <p>
      <%= link_to "詳細", meeting %>
    </p>
  <% end %>
</div>

<%= link_to "予定を追加", new_meeting_path %>

<%= month_calendar meetings: @meetings do |date, meetings| %>
  <%= date.day %>

  <% @meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, meeting %>
    </div>
  <% end %>
<% end %>
